$bgColor:#f2f2f2;
$main-color:#c9a969; //主题色
$blue-color:#1493ff;
$main-template_01:#00B09B;//主题绿色
$main-template5_01:rgba(0,176,155,0.5);
$main-template2_01:rgba(0,176,155,0.2);
$text-black-color:#281f1d; //字体黑色
$text-brown-color:#54423d; //字体普通淡色
$text-normal1-color:#545454; //字体常色
$text-normal2-color:#707070; //字体普通淡色
$text-light-color:#8c8c8c; //字体淡色
$text-deep-color:#1B1B1B;
$text-A8-color:#A8A8A8;
$text-47-color:#474747;
$text-d53636-color:#d53636;
$bg-light-color:#fafafa; //背景淡色
$bg-f6-color:#f6f6f6;//sku属性背景色
$bg-eee-color:#eee;
$bg-edit-btn:#FFB100;
$border-color:#ccc; //边框颜色
$border-qr-color:#e1e1e1; //二维码边框颜色
$border-bottom-color:#efefef; //下划线颜色
$border-input-color:#ccd5db;//input框颜色
$border-radio-color:#cdd6dd;
$border-light:#e5e5e5;
$light-border-color:#ccd5db;
$edd29f:#edd29f; //首页金色字体
$fff: #fff; //白色字体
$noClick:#333;//不可点击按钮背景
$dbb47a: #dbb47a; //商城按钮颜色
$e04c4c: #e04c4c;  //红色
$ff0000:#ff0000;
$money-color:#F8412C;
$titleColor:#011E3C;//大号标题颜色
$color90Linght:#909090;

$dark2color:rgba(0,0,0,0.2);

$bgf0f2f5: #f0f2f5; //首页遮罩背景
$bgf1f2f6: #f1f2f6; //全局背景颜色