/* 重置element-ui 组件样式 */

.el-button--success,
.el-button--success:focus {
  background-color: $btnColor;
  border-color: $btnColor;
  /* border-radius: 0; */
}

.el-button--success:hover {
  background-color: $btnhColor;
  border-color: $btnhColor;
}

.el-button--success:active {
  background-color: $btncColor;
  border-color: $btncColor;
}

.el-button--success span,
.el-button--primary span {
  color: #fff;
}

.el-pagination {
  text-align: right;
}

.el-pager li {
  color: $scColor;
}

.el-pager li.active {
  color: $lColor;
}

.el-pager li:hover {
  color: $lColor;
}

.el-cascader__label {
  padding-top: 7px;
}

// 日期选择
.el-range-editor--small .el-range-input{
  font-size: 12px;
}

// dialog 样式
.el-dialog__body {
  padding: 10px 20px;
  box-sizing: border-box;
}

.el-dialog__footer {
  padding: 0 20px 20px;
  box-sizing: border-box;
}

.el-dialog__header {
  padding: 15px 20px 10px;
}

.el-dialog__headerbtn {
  top: 15px;
}

// 重置表格样式
.el-table--border th {
  background: $bgzColor;
  text-align: center;
  border-right: 1px solid $bgzColor;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: $ttzColor;
}

.table-form-wrap .el-input--suffix .el-input__inner {
  color: $tcColor;
  padding-right: 0;
}

.el-input--small {
  .el-input__inner {
    color: $szColor;
    line-height: 33px;
    font-size: 12px;
  }
}

.table-form-wrap { 
  .el-input__prefix,
  .el-input__suffix {
    top: -6px;
    right: 0;
    color: $tcColor;
  }

  .el-input--small {
    .el-input__inner {
      text-align: center;
    }
  }
}

.table-form-wrap.el-table{
  .cell{
    overflow: initial;
    margin-left: -10px;
    margin-right: -10px;
  }
} 

.el-autocomplete-suggestion li:hover {
  background-color: $bgzColor;
  color: #fff;
}

.el-autocomplete-suggestion {
  min-width: 100px
}


.el-table--border th .cell {
  color: #fff;
}

.el-table--border td {
  text-align: center;
  padding: 0 0;
}


// .el-select-dropdown__wrap{
//   margin-bottom:0 !important;
//   margin-right: 0 !important;
// }


/*tabs样式*/
.el-tabs__item{
  line-height: 34px;
  height: 34px;
  font-size: 12px;
  color: $tcColor;
  background-color: $wbkColor;
}

.el-tabs__item:hover{
  color: $zColor;
}
.el-tabs__item.is-active{
  color: $zColor;
  background-color: #fff;
}

/*checkbox*/
.el-checkbox{
  color: $tcColor;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: $lColor;
  border-color: $lColor;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: $lColor;
}
.el-checkbox__inner:hover{
  border-color: $lColor;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: $lColor;
}

/*radio*/
.el-radio{
  color: $tcColor;
}

.el-radio__input.is-checked .el-radio__inner, .el-radio__input.is-indeterminate .el-radio__inner{
  background-color: $lColor;
  border-color: $lColor;
}
.el-radio__input.is-checked+.el-radio__label{
  color: $lColor;
}
.el-radio__inner:hover{
  border-color: $lColor;
}
.el-radio__input.is-focus .el-radio__inner{
  border-color: $lColor;
}