/* 重置element-ui 组件样式 */

.el-button--success,
.el-button--success:focus {
  background-color: $btnColor;
  border-color: $btnColor;
  /* border-radius: 0; */
}

.el-button--success:hover {
  background-color: $btnhColor;
  border-color: $btnhColor;
}

.el-button--success:active {
  background-color: $btncColor;
  border-color: $btncColor;
}

.el-button--success span,
.el-button--primary span {
  color: #fff;
}

.el-pagination {
  text-align: right;
}

.el-pager li {
  color: $scColor;
}

.el-pager li.active {
  color: $lColor;
}

.el-pager li:hover {
  color: $lColor;
}

.el-cascader__label {
  padding-top: 7px;
}


// dialog 样式
.el-dialog__body {
  padding: 10px 20px;
  box-sizing: border-box;
}

.el-dialog__footer {
  padding: 0 20px 20px;
  box-sizing: border-box;
}

.el-dialog__header {
  padding: 15px 20px 10px;
}

.el-dialog__headerbtn {
  top: 15px;
}

// 重置表格样式
.el-table--border th {
  background: $bgzColor;
  text-align: center;
  border-right: 1px solid $bgzColor;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: $ttzColor;
}

.table-form-wrap .el-input--suffix .el-input__inner {
  color: $tcColor;
  padding-right: 0;
}

.el-input--small {
  .el-input__inner {
    color: $szColor;
    line-height: 33px;
  }
}

.table-form-wrap { 
  .el-input__prefix,
  .el-input__suffix {
    top: -6px;
    right: 0;
    color: $tcColor;
  }

  .el-input--small {
    .el-input__inner {
      text-align: center;
    }
  }
}

.el-autocomplete-suggestion li:hover {
  background-color: $bgzColor;
  color: #fff;
}

.el-autocomplete-suggestion {
  min-width: 100px
}


.el-table--border th .cell {
  color: #fff;
}

.el-table--border td {
  text-align: center;
  padding: 0 0;
}
